@import url("css.css");

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.title {
  position: relative;
  top: -30px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  margin:-40px; 
  padding:-40px;
}

.image{
  width: 34px;
  height: 30px;
  position: relative;
  top: -20px;
}
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(../images/bg/relax.jpg);
}
.card:nth-child(2):before {
  background-image: url(../images/bg/clear.jpg);
}
.card:nth-child(3):before {
  background-image: url(../images/bg/connect.jpg);
}
.card:nth-child(4):before {
  background-image: url(../images/bg/activate.jpg);  
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
/*  margin: 0; padding: 0; */
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: none;
  border-radius: 50px;
}
.btn:hover {
  background-color: #f090d0;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

@media (hover: hover) and (min-width: 600px) {
 
.card:after {
  transform: translateY(0);
}


.content {
  transform: translateY(calc(100% - 4.5rem));
}
.content > *:not(.title,.image) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}
.card:hover,
.card:focus-within {
    align-items: center;
}
.card:hover:before,
.card:focus-within:before {
  transform: translateY(-4%);
}
.card:hover:after,
.card:focus-within:after {
  transform: translateY(-50%);
  }
.card:hover .content,
.card:focus-within .content {
  transform: translateY(0);
}
.card:hover .content > *:not(.title,.image),
.card:focus-within .content > *:not(.title,.image) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc(var(--d) / 8);
}
.card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title,.image) {
  transition-duration: 0s;
}
}

/* ////////////////////////////////////
//////////////////// for center message
/////////////////////////////////// */

.center{
  position: absolute;
  top:50%;
  left: 50%;
   transform: translate(-50%,-50%);
}
.popup{
  width:80%;
  height:80%;
  padding:30px 20px;
  background: #f7f7f7;
  border-radius: 10px;
  box-sizing: border-box;
  z-index:2;
  text-align: center;
  opacity:0;
  top: -200%;
  transform: translate(-50%,-50%) scale(0.5);
  transition: opacity 300ms ease-in-out,
              top 1000ms ease-in-out,
              transform 1000ms ease-in-out;
}
.popup.active {
  opacity:1;
  top:50%;
  transform: translate(-50%,-50%) scale(1);
  transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
  margin: 5px 0px; width : 50px; height: 50px;
  border: 2px solid #f770f7;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 50px;
}

.popup .icon i.fa {
  font-size: 30px;
  color: #44f444;
}

.popup .title{
  color: #208020;
  margin: 5px 0px;
  font-size: 30px;
  font-weight: 600;
}
.popup .description {
  color:#408040;
  font-size: 30px;
  padding: 4px;
}

.popup .dismis-btn{
  margin-top: 15px;
}
.popup .dismis-btn button {
  bottom:10px;
  padding:10px 20px;
  background: #111;
  color: #ccc;
  border: 4px solid #ccc;
  font-size:16px;
  font-weight:600;
  outline:none;
  border-radius:10px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.popup .dismis-btn button:hover {
  color:#111;
  background: #f7f7f7;
}